<h1>Viewing Party Lite</h1>
<% if !session[:user_id] %>
  <%= button_to 'Login', '/login', method: :get %>
  <%= button_to 'New User', '/register', method: :get  %>
  <% @users.each do |user| %>
    <h3><%= link_to "#{user.name}", "/users/#{user.id}" %>: <%= user.email %></h3>
  <% end %>
<% else %>
  <%= button_to 'Logout', '/logout', method: :delete %>  
  <% @users.each do |user| %>
    <h3><%= link_to "#{user.name}", "/users/#{user.id}" %>: <%= user.email %></h3>
  <% end %>
<% end %>
